.roadmap-course {
    display: table;
}

.roadmap-course span {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px; 
    border-radius: 40px;
    font-weight: bold;
    padding-top: 20px;
}

.roadmap-course.active span {
    background-color: #CC0099;
    color: #000000;
    font-weight: bold;
}

.roadmap-course div {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}
