.replaced {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.new-link-block .image-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.new-link-block .icon-text-replace {
    margin-top: 21px;
    font-weight: 700;
    color: #cfcdcf;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    text-align: center;
}

.tokenomics-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.tokenomics-container  img {
    width: 100px;
}
